---
http_interactions:
- request:
    method: post
    uri: https://qa-proc-bndes-tax.valepresente.net.br/tax
    body:
      encoding: UTF-8
      string: '{"value":1.24,"effectiveStartDate":"2016-04-01T00:00:00-0300"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"cause":{"cause":{"cause":null,"message":"Violation of UNIQUE KEY
        constraint ''UNIK_DataInicioVigencia''. Cannot insert duplicate key in object
        ''dbo.TaxasBNDES''. The duplicate key value is (Apr  1 2016 12:00AM)."},"message":"could
        not execute statement"},"message":"could not execute statement; SQL [n/a];
        constraint [null]; nested exception is org.hibernate.exception.ConstraintViolationException:
        could not execute statement"}'
  recorded_at: Mon, 25 Apr 2016 14:27:10 GMT
recorded_with: VCR 3.0.1
