---
http_interactions:
- request:
    method: get
    uri: https://qa-proc-bndes-tax.valepresente.net.br/tax/search/findFirst1ByOrderByEffectiveStartDateDesc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "value" : 1.2200,
          "effectiveStartDate" : "2016-05-01T03:00:00+0000",
          "registryDate" : "2016-04-22T21:15:22+0000",
          "_links" : {
            "self" : {
              "href" : "https://qa-proc-bndes-tax.valepresente.net.br/tax/20060"
            },
            "bndesTax" : {
              "href" : "https://qa-proc-bndes-tax.valepresente.net.br/tax/20060"
            }
          }
        }
  recorded_at: Mon, 25 Apr 2016 14:28:12 GMT
recorded_with: VCR 3.0.1
